@font-face {
  font-family: "Druk-Wide-Medium";
  src: url("./assets/fonts/DrukWideMedium.ttf");
}

@font-face {
  font-family: "Josefin-Sans";
  src: url("./assets/fonts/JosefinSans-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  background-clip: text;
}

:root {
  --padding: 120px 60px;
  --padding-767: 60px 0px;
}
