.services {
  /* position: relative; */
  overflow: hidden;
  background-image: url(../../assets/img/Group763.webp);
  background-position: center;
  background-size: 100%;
  position: relative;
  /* height: 200vh; */
  width: 100%;
  animation-name: move;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  /* background-color: rgba(56, 54, 52, 0.226); */
}
.services__bg-center {
  position: absolute;
  /* left: 40%; */
  top: 60%;
  width: 100%;
}
.services__bg-upper {
  position: absolute;
  left: 0;
  top: 35vh;
  width: 70%;
  height: auto;
  opacity: 5;
}

.services__wrapper {
  position: relative;
  padding-top: 15vh;
  height: 100%;
  width: 100%;
  z-index: 2;
  padding-left: 4vw;
}
.services__upper-text {
  width: 300px;
}
.services__upper-text h1 {
  font-weight: 100;
  font-size: 2rem;
  line-height: 1.1;
  opacity: 1;
  /* padding-left: 10px; */
  /* padding-right: 90px; */
  /* padding-top: 10px; */
  padding-bottom: 24px;
  font-family: "Druk-Wide-Medium";
}
.services__upper-text h3 {
  font-weight: 100;
  font-size: 1.5rem;
  /* opacity: 0.7; */
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  /* line-height: 1.1; */
  letter-spacing: 2px;
  font-family: "Josefin-Sans";
}

.services__middle {
  display: flex;
  padding-top: 30vh;
  /* height: 100vh; */
  width: 100%;
}
.services__img {
  width: 28%;
}
.services__img img {
  width: 100%;
  height: 100%;
}
.services__options {
  width: 62%;
}
.sevices__options-bulletList {
  padding-left: 5rem;
  font-size: 3.2vw;
  letter-spacing: 5px;
  height: 100%;
}
.services__options-bulletList-items {
  font-family: "Druk-Wide-Medium";
  height: 16%;
}

.services__footer-text {
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding-top: 3rem;
}
.services__footer-text--rotated {
  position: relative;
  /* transform: translateY(10rem); */
  /* padding-right: 3rem; */
  width: 10%;
}
.text-rotated {
  position: absolute;
  transform-origin: 0 0;
  transform: rotate(-90deg);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  letter-spacing: 2px;
  font-family: sans;
  color: #f1e2dff3;
  font-size: 1.5rem;
  /* z-index: -1; */
}
.services__footer-text p {
  width: 25%;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-size: 1.4rem;
  transform: translateX(-3rem);
  font-family: "Josefin-Sans";
}

@media screen and (min-width: 320px) and (max-width: 370px) {
  .services__middle {
    flex-direction: column;
    padding-top: 20px;
    height: 90vh;
    justify-content: space-between;
  }
  .services__options {
    width: 100%;
    height: 30%;
  }
  .services__img {
    width: 100%;
    aspect-ratio: 1;
  }
  .sevices__options-bulletList {
    padding-left: 3rem;
  }
  .services__footer-text p {
    width: 100%;
    margin-left: 44px;
  }
  .services__footer-text--rotated {
    filter: blur(1px);
  }
}

@media screen and (min-width: 370px) and (max-width: 414px) {
  .services__middle {
    flex-direction: column;
    padding-top: 20px;
    height: 90vh;
    justify-content: space-between;
  }
  .services__options {
    width: 100%;
    height: 30%;
  }
  .services__img {
    width: 100%;
    aspect-ratio: 1;
  }
  .sevices__options-bulletList {
    padding-left: 3rem;
  }
  .services__footer-text p {
    width: 100%;
    margin-left: 44px;
  }
  .services__footer-text--rotated {
    filter: blur(1px);
  }
}

@media screen and (min-width: 414px) and (max-width: 768px) {
  .services__middle {
    flex-direction: column;
    padding-top: 20px;
    height: 90vh;
    justify-content: space-between;
  }
  .services__options {
    width: 100%;
    height: 30%;
  }
  .services__img {
    width: 100%;
    aspect-ratio: 1;
  }
  .sevices__options-bulletList {
    padding-left: 3rem;
  }
  .services__footer-text p {
    width: 100%;
    margin-left: 44px;
  }
  .services__footer-text--rotated {
    filter: blur(1px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .services__middle {
    flex-direction: column;
    padding-top: 20px;
    height: 90vh;
    justify-content: space-between;
  }
  .services__options {
    width: 100%;
    height: 30%;
  }
  .services__img {
    width: 100%;
    aspect-ratio: 1;
  }
  .sevices__options-bulletList {
    padding-left: 3rem;
  }
  .services__footer-text p {
    width: 100%;
    margin-left: 44px;
  }
  .services__footer-text--rotated {
    filter: blur(1px);
  }
}
