.video {
  height: 100vh;
  /* background-color: wheat; */
}
.fullscreen-bg {
  position: relative;
  height: 100%;
  overflow: hidden;
  /* z-index: -100;  */
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.video {
  background-image: url(../../assets/img/videobg.png);
  background-position: center;
}
/* 
@media screen and (min-width: 320px) and (max-width: 370px) {
}

@media screen and (min-width: 370px) and (max-width: 414px) {
}

@media screen and (min-width: 414px) and (max-width: 768px) {
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
} */
